Binaries
DerivedDataCache
Intermediate
Plugins
Script
Saved
Build
Imports
Content\Imports
.bak
.idea
.ignore
.DS_Store
.vscode#
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.log
*.suo
*.xcodeproj
*.xcworkspace
*.code-workspace